/*
    Document   : riskMatrix
    Created on : 15/04/2011, 7:22:35 PM
    Author     : michael
    Description:
        Purpose of the stylesheet follows.
*/

.error {
    background-color: #FFFFAA;
    border: 1px dashed red;
    padding: .5em;
    margin: 1em 0;
    display: none;
}

label {
    width: 8em;
    display:block;
    float: left;
}

#riskRating {
    width: 190px;
    border: 1px solid green;
    display:block;
    float: left;
    text-align: center;
}

div#controllers>div {
    height: 35px;
}

table.riskMatrix {
    box-shadow: grey 10px 10px 80px;
    -webkit-box-shadow: grey 10px 10px 80px;
    -moz-box-shadow: grey 10px 10px 20px;
    margin: 1em;
}

table.riskMatrix td {
    cursor:pointer;
}

table.riskMatrix td, table.riskMatrix th {
    padding: .5em;
}

table.riskMatrix th {
    background-color: lightsteelblue;
}

table.riskMatrix td {
    text-align: center;
}

table.riskMatrix td.low, #riskRating.low {
    background-color: lightgreen;
}

table.riskMatrix td.medium, #riskRating.medium {
    background-color: lightyellow;
}

table.riskMatrix td.high, #riskRating.high {
    background-color: lightsalmon;
}

table.riskMatrix td.extreme, #riskRating.extreme {
    background-color: lightcoral;
}

/* 
   The following jQuery Tools range styles come from
   https://github.com/jquerytools/www/raw/master/css/rangeinput/skin2.css
*/

#wrapper {
	background:#666 url(img/rangeinput/h300.png) repeat-x;
	padding:10px 20px;
	width:510px; 
	height:130px;
}

.slider { 
	background:#333 url(h30.png) repeat-x 0 0; 
	height:12px; 
	position:relative; 
	cursor:pointer;  
	border:1px inset #333;
	width:190px;
	margin:10px 0;
	float:left; 	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.progress {
	height:12px; 
	background-color:#234;
	display:none;
}

.handle { 
	background:#0150D1 url(h30.png) repeat-x 0 0; 
	height:28px;
	width:28px;
	top:-8px;
	position:absolute; 
	display:block;
	cursor:move;
	-moz-border-radius:14px;
	-moz-box-shadow:#000 0 0 6px;
	border:1px solid rgba(240, 240, 240, 0.5);
}

.range {
	float:left;
	margin:3px 0 13px 5px;
	border:0;
	padding:0 2px;
	background:transparent;
	font-size:22px;	
	color:#fff;
	width:47px;
	text-align:left;
	text-shadow:#000 0 0 1px;
}

.range:focus {
	background-color:#333;
	color:#fff;	
}

.handle:hover {
	background-image:none;			
}

a.handle:active {
	background-color:#3CB2FB;
}
input.range {
    display: none;
}