/*
    Document   : riskMatrix
    Created on : 15/04/2011, 7:22:35 PM
    Author     : michael
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.error {
    background-color: #FFFFAA;
    border: 1px dashed red;
    padding: .5em;
    margin: 1em 0;
    display: none;
}

#homework {
    width: 400px;
    height: 400px;
    border: 1px solid gray;
}